<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pokenea</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body { padding-top:50px; }
  </style>
</head>
<body class="container">

<main>
  <div class="jumbotron">
    <h1>Pokenea</h1>
    <img alt="pokenea" src="<%= Imagen%>">
    <h2>Frase filosofica</h2>
    <p><%= Frase%></p>
    <h3>id contenedor</h3>
    <p><%= container_id%></p>
  </div>
</main>

</body>
</html>